.btnTemplateStructure {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.btnTemplateStructure:selected {
     -fx-background-color: rgba(10, 10, 10, 150);
}

.btnTemplateStructure:hover {
    -fx-background-color: rgba(150, 150, 150, .1);
}

.vbStructureContainer {
    -fx-border-width: 2;
    -fx-border-color: #777;
    -fx-padding: 20;
    -fx-background-color: #999;

}
